div#message_area {
    height: 30px;
}

div#category_area {
    height: 25px;
}

span.category-elements {
    border: solid thin black;
    background-color: gold;
    margin: 0px 10px;
    padding: 0px 5px;
    border-radius: 10px;
    font-size: small;
}

#answer.english {
    font-family: 'Noto Sans Mono', monospace;
}

footer{
    position: absolute;/*←絶対位置*/
    bottom: 25px; /*下に固定*/
    width: 100%;
}

.left{
    position: absolute;/*←絶対位置*/
    left: 0px;
}

.right{
    position: absolute;/*←絶対位置*/
    right: 10px;
}